<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>Todo list</title>
 
</head>
<body>
  <div id="app">
    <h1>Список задач</h1>
    <div v-if="count() == 0">Вы великолепны!</div>
    <div v-else-if="count() == 1">Осталось сделать последный рывок!</div>
    <div v-else>Осталось сделать задач: <span class="counter">{{count()}}</span></div>
    <div class="list">
      <div class="item" :class="{done: task.done}" v-for='task in tasks'>
        <input type="checkbox" v-model="task.done">
         {{task.text}}
      </div>
    </div>
    <div class="form">
      <input  v-model="message" @keyup.enter="addTask">
      <button :type="type" @click="addTask">Добавить</button>
    </div>
    <transition name="fade">
      <img src="https://res.cloudinary.com/ddiletant/image/upload/v1508623272/propinion/0x0ss-85_aarh6c.jpg" alt="молодец" width="100" height="100" v-show="count() == 0">
    </transition>  
  </div>
  <script src="vue.js"></script>
  <script src="main.js"></script>
</body>
</html>